@import url('https://fonts.googleapis.com/css?family=Numans');
/* html and body */
html,body{
background-image: url('https://image.freepik.com/free-photo/coffee-list_23-2148475402.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', 'sans-serif';
}
/* container div */
.container{
height: 100%;
align-content: center;
}
/* login card */
.card{
height: 320px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.4) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(14, 218, 58);
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
/* check box */
.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
/* login button */
.login_btn{
color: black;
background-color: rgb(14, 218, 58);
color: white;
margin-top: 10px;
width: 100px;
}

.login_btn:hover{
color: white;
background-color:  rgb(9, 221, 9);
}
